Repository roeap/flight-fusion: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, just, rustfmt

.pre-commit-config.yaml:

# To use this, install the python package `pre-commit` and
# run once `pre-commit install`. This will setup a git pre-commit-hook
# that is executed on each commit and will report the linting problems.
# To run all hooks on all files use `pre-commit run -a`

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
      - id: isort
    args: ["--profile=black"]
  - repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
      - id: flake8
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        args:
          - "--line-length=120"
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.2
    hooks:
      - id: prettier
    types_or:
      - json
      - toml
      - yaml
      - markdown
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.32.1
    hooks:
      - id: pyupgrade
        exclude: setup.py
        entry: pyupgrade --py38-plus
        types:
          - python

  - repo: local
    hooks:
      - id: pyright
        name: pyright
        entry: pyright
        args: ["python/"]
        language: node
        pass_filenames: false
        types: [python]
        additional_dependencies: ["pyright@1.1.210"]
      - id: just
        name: just
        language: system
        entry: just --fmt --unstable --check
        files: ^justfile$
        pass_filenames: false
        types:
          - file
      - id: rustfmt
        name: Rust Format
        language: system
        entry: bash -c "cargo +stable fmt --all -- --check"
        files: ^.*\.rs$
        types:
          - file
          - rust

use mlfusion io manager
  .vscode/cspell.json
  examples/model-training/model_training/resources/__init__.py
  python/dagster-fusion/dagster_fusion/__init__.py
  python/dagster-fusion/dagster_fusion/io/__init__.py
  python/dagster-fusion/dagster_fusion/io/mlfusion_io_manager.py
  python/dagster-fusion/dagster_fusion/io/table_io_manager.py
Due: pyright

add mlflow package
  .prettierignore
  docs/assets/fusion.drawio.svg
  docs/service.md
  poetry.lock
  pyproject.toml
  python/dagster-fusion/dagster_fusion/hooks.py
  python/dagster-fusion/dagster_fusion/resources/__init__.py
  python/dagster-fusion/dagster_fusion/resources/fusion.py
  python/dagster-fusion/dagster_fusion/resources/mlflow.py
  python/dagster-fusion/pyproject.toml
  python/mlflow-fusion/README.md
  python/mlflow-fusion/mlflow_fusion/__init__.py
  python/mlflow-fusion/mlflow_fusion/version.py
  python/mlflow-fusion/pyproject.toml
  python/mlflow-fusion/tests/test_imports_mlflow.py
  python/mlserver-fusion/README.md
  python/mlserver-fusion/mlserver_fusion/__init__.py
  python/mlserver-fusion/tests/test_imports_mlserver.py
Due: pyright

skeleton artifact repo
  python/mlflow-fusion/README.md
  python/mlflow-fusion/mlflow_fusion/artifacts.py
  python/mlflow-fusion/pyproject.toml
Due: pyright

artifact store plugin
  notebooks/model_serve.ipynb
  poetry.lock
  python/flight-fusion/flight_fusion/cli/__init__.py
  python/flight-fusion/flight_fusion/cli/start.py
  python/mlflow-fusion/mlflow_fusion/artifacts.py
Due: pyright

scaffold artifact service
  Cargo.lock
  examples/hacker-news/hacker_news/assets/__init__.py
  examples/hacker-news/hacker_news/assets/id_range_for_time.py
  examples/hacker-news/hacker_news/assets/items.py
  examples/hacker-news/hacker_news/assets/recommender_model.py
  examples/hacker-news/hacker_news/jobs/api_download.py
  examples/hacker-news/hacker_news/resources/__init__.py
  examples/model-training/model_training/assets/__init__.py
  examples/model-training/model_training/jobs.py
  examples/model-training/model_training/resources/__init__.py
  justfile
  proto/flight_fusion/flight_fusion/ipc/v1alpha1/environment.proto
  proto/mlflow/mlflow/mlflow_artifacts.proto
  python/dagster-fusion/dagster_fusion/config.py
  python/dagster-fusion/dagster_fusion/hooks.py
  python/dagster-fusion/dagster_fusion/io/mlfusion_io_manager.py
  python/dagster-fusion/dagster_fusion/io/root_input_manager.py
  python/dagster-fusion/dagster_fusion/io/table_io_manager.py
  python/dagster-fusion/dagster_fusion/resources/fusion.py
  python/dagster-fusion/dagster_fusion/resources/mlflow.py
  python/dagster-fusion/tests/test_io_manager.py
  python/flight-fusion/flight_fusion/cli/start.py
  python/flight-fusion/flight_fusion/ipc/mlflow/artifacts/__init__.py
  python/flight-fusion/flight_fusion/ipc/v1alpha1/__init__.py
  python/mlflow-fusion/mlflow_fusion/artifacts.py
  python/mlserver-fusion/mlserver_fusion/server.py
  rust/area-store/Cargo.toml
  rust/artifacts-store/Cargo.toml
  rust/artifacts-store/src/lib.rs
  rust/flight-fusion-ipc/src/gen/flight_fusion.ipc.v1alpha1.rs
  rust/flight-fusion-ipc/src/gen/mlflow.artifacts.rs
  rust/flight-fusion-ipc/src/gen/mlflow.artifacts.tonic.rs
  scripts/dagster_example.py
Due: pyright, just, rustfmt

housekeeping
  notebooks/client.ipynb
  rust/flight-fusion/tests/data/dataset/part=a/4f52bf080bdd4053b4b0ddfdfdada658.parquet
  rust/flight-fusion/tests/data/dataset/part=b/dcc03ca9922c4a90933154a3ac232f98.parquet
  rust/flight-fusion/tests/data/dataset/part=c/d1504f08241a4b88b6a882c8f53784d2.parquet
  rust/flight-fusion/tests/data/file/table.parquet
Due: none

expose generated artifact service artifacts
  Cargo.lock
  rust/artifacts-store/src/lib.rs
  rust/flight-fusion-ipc/Cargo.toml
  rust/flight-fusion-ipc/src/lib.rs
Due: rustfmt

list and read artificats
  Cargo.lock
  rust/artifact-store/Cargo.toml
  rust/artifact-store/src/gen/mlflow.artifacts.rs
  rust/artifact-store/src/gen/mlflow.artifacts.tonic.rs
  rust/artifact-store/src/lib.rs
  rust/artifacts-store/src/lib.rs
  rust/flight-fusion-ipc/Cargo.toml
  rust/flight-fusion-ipc/src/lib.rs
Due: rustfmt

write artifacts
  rust/artifact-store/Cargo.toml
  rust/artifact-store/src/lib.rs
Due: rustfmt

clippy
  Cargo.lock
  rust/artifact-store/src/lib.rs
  rust/flight-fusion/Cargo.toml
  rust/flight-fusion/src/handlers/actions.rs
Due: rustfmt

integrate artifacts server
  Cargo.lock
  config/Default.toml
  notebooks/client.ipynb
  python/flight-fusion-server/Cargo.toml
  python/flight-fusion-server/src/main.rs
  python/flight-fusion/flight_fusion/clients/__init__.py
  python/flight-fusion/flight_fusion/clients/_aio.py
  python/flight-fusion/flight_fusion/clients/events/__init__.py
  python/flight-fusion/flight_fusion/clients/events/auth.py
  python/flight-fusion/flight_fusion/clients/ops/__init__.py
  python/flight-fusion/flight_fusion/clients/ops/aio.py
  python/flight-fusion/flight_fusion/clients/ops/artifacts.py
  rust/artifact-store/src/lib.rs
  rust/flight-fusion/src/main.rs
  rust/flight-fusion/src/settings.rs
Due: pyright, rustfmt

generate mlfow
  justfile
  pyproject.toml
  python/mlflow-fusion/mlflow_fusion/ipc/__init__.py
  python/mlflow-fusion/mlflow_fusion/ipc/artifacts/__init__.py
  rust/flight-fusion-ipc/src/gen/mlflow.artifacts.rs
  rust/flight-fusion-ipc/src/gen/mlflow.artifacts.tonic.rs
Due: pyright, just, rustfmt

testing
  .vscode/cspell.json
  notebooks/client.ipynb
  poetry.lock
  python/flight-fusion/flight_fusion/testing.py
  python/mlflow-fusion/mlflow_fusion/auth.py
  python/mlflow-fusion/mlflow_fusion/client.py
  python/mlflow-fusion/pyproject.toml
  python/mlflow-fusion/tests/test_artifact_storage.py
  python/mlflow-fusion/tests/test_imports_mlflow.py
Due: pyright

test artifact store integration
  python/flight-fusion/flight_fusion/testing.py
  python/mlflow-fusion/tests/test_artifact_storage.py
Due: pyright

extend artifact store
  notebooks/client.ipynb
  python/mlflow-fusion/mlflow_fusion/artifacts.py
  python/mlflow-fusion/mlflow_fusion/context.py
  python/mlflow-fusion/pyproject.toml
  python/mlflow-fusion/tests/test_artifact_storage.py
Due: pyright

model repo updates
  notebooks/client.ipynb
  notebooks/model_serve.ipynb
  poetry.lock
  python/flight-fusion/flight_fusion/cli/start.py
  python/mlflow-fusion/mlflow_fusion/artifacts.py
  python/mlflow-fusion/mlflow_fusion/client.py
  python/mlflow-fusion/pyproject.toml
  python/mlflow-fusion/tests/test_artifact_storage.py
Due: pyright

test artifact store
  .vscode/cspell.json
  docs/configuration.md
  notebooks/client.ipynb
  notebooks/model_serve.ipynb
  python/flight-fusion-server/src/main.rs
  python/flight-fusion/flight_fusion/testing.py
  python/mlflow-fusion/mlflow_fusion/artifacts.py
  python/mlflow-fusion/mlflow_fusion/client.py
  python/mlflow-fusion/tests/test_artifact_repository.py
  python/mlflow-fusion/tests/test_artifact_storage.py
Due: pyright, rustfmt

cleanup
  python/flight-fusion/flight_fusion/clients/__init__.py
  python/flight-fusion/flight_fusion/clients/_aio.py
  python/flight-fusion/flight_fusion/clients/ops/__init__.py
  python/flight-fusion/flight_fusion/clients/ops/aio.py
  python/flight-fusion/flight_fusion/clients/ops/artifacts.py
  python/mlflow-fusion/tests/test_artifact_repository.py
Due: pyright

action versions
  .github/workflows/rust.yml
Due: none

add cargo cache
  .github/workflows/rust.yml
Due: none

initial clean
  python/dagster-fusion/dagster_fusion/resources/mlflow.py
  rust/flight-fusion/src/service.rs
Due: pyright, rustfmt

typing
  Cargo.lock
  python/dagster-fusion/dagster_fusion/resources/mlflow.py
Due: pyright

migrate mlflow tests
  python/dagster-fusion/tests/test_mlflow_integration.py
Due: pyright

docs cleanup
  docs/configuration.md
  docs/flight_fusion.md
  docs/index.md
  mkdocs.yml
Due: none

dagster-fusion cleanup
  .flight-fusion/workspace.yaml
  .vscode/cspell.json
  docs/index.md
  examples/model-training/model_training/jobs.py
  examples/model-training/model_training/resources/__init__.py
  python/dagster-fusion/dagster_fusion/__init__.py
  python/dagster-fusion/dagster_fusion/_types.py
  python/dagster-fusion/dagster_fusion/config.py
  python/dagster-fusion/dagster_fusion/io/__init__.py
  python/dagster-fusion/dagster_fusion/io/model_io_manager.py
  python/dagster-fusion/dagster_fusion/io/root_input_manager.py
  python/dagster-fusion/dagster_fusion/io/table_io_manager.py
  python/dagster-fusion/dagster_fusion/resources/__init__.py
  python/dagster-fusion/dagster_fusion/resources/configuration.py
  python/dagster-fusion/dagster_fusion/resources/fusion.py
  python/dagster-fusion/dagster_fusion/resources/mlflow.py
  python/dagster-fusion/tests/test_io_manager_model.py
  python/dagster-fusion/tests/test_io_manager_table.py
  python/dagster-fusion/tests/test_mlflow_integration.py
Due: pyright

config cleanup
  python/dagster-fusion/dagster_fusion/config.py
Due: pyright

rm unused runction
  rust/flight-fusion/src/service.rs
Due: rustfmt

cleanup model example
  examples/model-training/model_training/resources.py
  examples/model-training/model_training/resources/dataset_spec.py
Due: pyright

remove mlfusion io manager
  python/dagster-fusion/dagster_fusion/__init__.py
  python/dagster-fusion/dagster_fusion/io/__init__.py
  python/dagster-fusion/dagster_fusion/io/mlfusion_io_manager.py
Due: pyright

cleanup
  .github/pull_request_template.md
  examples/model-training/model_training/resources.py
  python/dagster-fusion/dagster_fusion/__init__.py
  python/dagster-fusion/dagster_fusion/resources/mlflow.py
Due: pyright

consoliadte io managers
  python/dagster-fusion/dagster_fusion/__init__.py
  python/dagster-fusion/dagster_fusion/io/__init__.py
  python/dagster-fusion/dagster_fusion/io/artifact.py
  python/dagster-fusion/dagster_fusion/io/table.py
  python/dagster-fusion/dagster_fusion/resources/configuration.py
Due: pyright

basic artifact io handler
  .vscode/cspell.json
  poetry.lock
  pyproject.toml
  python/dagster-fusion/dagster_fusion/io/artifact.py
  python/dagster-fusion/dagster_fusion/resources/mlflow.py
  python/dagster-fusion/pyproject.toml
  python/dagster-fusion/tests/test_io_manager_model.py
  python/flight-fusion/pyproject.toml
  python/mlflow-fusion/pyproject.toml
  python/mlserver-fusion/pyproject.toml
Due: pyright

artifact io manager
  python/dagster-fusion/dagster_fusion/io/artifact.py
  python/dagster-fusion/tests/test_io_manager_model.py
Due: pyright

tagging
  docs/index.md
  python/dagster-fusion/dagster_fusion/io/artifact.py
  python/dagster-fusion/dagster_fusion/resources/mlflow.py
  python/dagster-fusion/tests/test_io_manager_model.py
  python/dagster-fusion/tests/test_mlflow_integration.py
  python/flight-fusion/flight_fusion/tags.py
Due: pyright

integrated training example
  docs/index.md
  examples/model-training/model_training/assets/model_training.py
  examples/model-training/model_training/assets/training_data.py
  examples/model-training/model_training/jobs.py
  examples/model-training/model_training/resources.py
  python/dagster-fusion/dagster_fusion/io/artifact.py
  python/dagster-fusion/dagster_fusion/resources/mlflow.py
  python/dagster-fusion/tests/test_io_manager_model.py
  python/flight-fusion/flight_fusion/tags.py
Due: pyright

mlflow - dagster integration (#221)
  .flight-fusion/workspace.yaml
  .github/pull_request_template.md
  .vscode/cspell.json
  Cargo.lock
  docs/configuration.md
  docs/flight_fusion.md
  docs/index.md
  examples/model-training/model_training/assets/model_training.py
  examples/model-training/model_training/assets/training_data.py
  examples/model-training/model_training/jobs.py
  examples/model-training/model_training/resources.py
  examples/model-training/model_training/resources/__init__.py
  examples/model-training/model_training/resources/dataset_spec.py
  mkdocs.yml
  poetry.lock
  pyproject.toml
  python/dagster-fusion/dagster_fusion/__init__.py
  python/dagster-fusion/dagster_fusion/_types.py
  python/dagster-fusion/dagster_fusion/config.py
  python/dagster-fusion/dagster_fusion/io/__init__.py
  python/dagster-fusion/dagster_fusion/io/artifact.py
  python/dagster-fusion/dagster_fusion/io/mlfusion_io_manager.py
  python/dagster-fusion/dagster_fusion/io/root_input_manager.py
  python/dagster-fusion/dagster_fusion/io/table.py
  python/dagster-fusion/dagster_fusion/resources/__init__.py
  python/dagster-fusion/dagster_fusion/resources/configuration.py
  python/dagster-fusion/dagster_fusion/resources/fusion.py
  python/dagster-fusion/dagster_fusion/resources/mlflow.py
  python/dagster-fusion/pyproject.toml
  python/dagster-fusion/tests/test_io_manager_model.py
  python/dagster-fusion/tests/test_io_manager_table.py
  python/dagster-fusion/tests/test_mlflow_integration.py
  python/flight-fusion/flight_fusion/tags.py
  python/flight-fusion/pyproject.toml
  python/mlflow-fusion/pyproject.toml
  python/mlserver-fusion/pyproject.toml
  rust/flight-fusion/src/service.rs
Due: pyright, rustfmt

registered models with assets
  .vscode/cspell.json
  examples/model-training/model_training/assets/model_training.py
  python/dagster-fusion/dagster_fusion/io/artifact.py
  python/dagster-fusion/dagster_fusion/resources/mlflow.py
  python/flight-fusion/flight_fusion/asset_key.py
Due: pyright

regiestered model in io manager
  examples/model-training/model_training/assets/model_training.py
  python/dagster-fusion/dagster_fusion/io/artifact.py
  python/dagster-fusion/dagster_fusion/resources/__init__.py
  python/dagster-fusion/dagster_fusion/resources/configuration.py
  python/dagster-fusion/dagster_fusion/resources/mlflow.py
  python/flight-fusion/flight_fusion/asset_key.py
Due: pyright
