Repository roeap/flight-fusion: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, just, rustfmt

.pre-commit-config.yaml:

# To use this, install the python package `pre-commit` and
# run once `pre-commit install`. This will setup a git pre-commit-hook
# that is executed on each commit and will report the linting problems.
# To run all hooks on all files use `pre-commit run -a`

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
      - id: isort
    args: ["--profile=black"]
  - repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
      - id: flake8
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        args:
          - "--line-length=120"
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.2
    hooks:
      - id: prettier
    types_or:
      - json
      - toml
      - yaml
      - markdown
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.32.1
    hooks:
      - id: pyupgrade
        exclude: setup.py
        entry: pyupgrade --py38-plus
        types:
          - python

  - repo: local
    hooks:
      - id: pyright
        name: pyright
        entry: pyright
        args: ["python/"]
        language: node
        pass_filenames: false
        types: [python]
        additional_dependencies: ["pyright@1.1.210"]
      - id: just
        name: just
        language: system
        entry: just --fmt --unstable --check
        files: ^justfile$
        pass_filenames: false
        types:
          - file
      - id: rustfmt
        name: Rust Format
        language: system
        entry: bash -c "cargo +stable fmt --all -- --check"
        files: ^.*\.rs$
        types:
          - file
          - rust

typing __future__
  python/dagster-fusion/dagster_fusion/io/artifact.py
  python/flight-fusion/flight_fusion/clients/_base.py
Due: pyright

demo fixes
  .vscode/cspell.json
  docs/index.md
  examples/app/src/app/pages/01_datasets.py
  python/flight-fusion/flight_fusion/cli/_utils.py
  python/flight-fusion/flight_fusion/cli/environment.py
  python/flight-fusion/flight_fusion/clients/events/auth.py
  python/mlflow-fusion/mlflow_fusion/auth.py
Due: pyright

cleanup utilities
  python/flight-fusion/flight_fusion/cli/_utils.py
Due: pyright

rename app
  .mlfusion/.dagster/workspace.yaml
  .mlfusion/.gitignore
  .mlfusion/.mlserver/settings.json
  .mlfusion/workspace.yaml
Due: none

cli updates
  .mlfusion/.dagster/workspace.yaml
  python/flight-fusion/flight_fusion/cli/_utils.py
  python/flight-fusion/flight_fusion/cli/environment.py
Due: pyright

housekeeping
  Cargo.lock
  docs/index.md
  python/flight-fusion/flight_fusion/cli/environment.py
  rust/flight-fusion/src/service.rs
Due: pyright, rustfmt

small docs update
  docs/index.md
Due: none

bump dependencies
  deny.toml
  poetry.lock
  pyproject.toml
  python/flight-fusion/flight_fusion/cli/start.py
Due: pyright

bump lock files
  Cargo.lock
Due: none

fix model repo list
  python/mlserver-fusion/mlserver_fusion/repository.py
Due: pyright

bump dagster
  examples/model-training/pyproject.toml
  poetry.lock
  pyproject.toml
  python/dagster-fusion/pyproject.toml
Due: none

version constraints
  poetry.lock
  pyproject.toml
  python/mlserver-fusion/pyproject.toml
Due: none

notebook
  notebooks/model_serve.ipynb
Due: none

minor cli update
  python/flight-fusion/flight_fusion/cli/start.py
Due: pyright

cargo cache in workflows
  .github/workflows/rust.yml
Due: none

locak file
  Cargo.lock
  rust/area-store/Cargo.toml
Due: none

separator
  examples/model-training/model_training/jobs.py
Due: pyright

update asset key
  python/flight-fusion/flight_fusion/asset_key.py
Due: pyright

update asset key again
  python/flight-fusion/flight_fusion/asset_key.py
Due: pyright

collect dependencies for taxi example
  .github/workflows/rust.yml
  docs/advanced_tutorial.md
  examples/app/pyproject.toml
  poetry.lock
Due: none

model lifecycle (#226)
  .flight-fusion/.dagster/workspace.yaml
  .github/workflows/rust.yml
  .mlfusion/.gitignore
  .mlfusion/.mlserver/settings.json
  .mlfusion/workspace.yaml
  .vscode/cspell.json
  Cargo.lock
  deny.toml
  docs/advanced_tutorial.md
  docs/index.md
  examples/app/pyproject.toml
  examples/app/src/app/pages/01_datasets.py
  examples/model-training/model_training/assets/model_training.py
  examples/model-training/model_training/jobs.py
  examples/model-training/pyproject.toml
  notebooks/model_serve.ipynb
  poetry.lock
  pyproject.toml
  python/dagster-fusion/dagster_fusion/io/artifact.py
  python/dagster-fusion/dagster_fusion/resources/__init__.py
  python/dagster-fusion/dagster_fusion/resources/configuration.py
  python/dagster-fusion/dagster_fusion/resources/mlflow.py
  python/dagster-fusion/pyproject.toml
  python/flight-fusion/flight_fusion/asset_key.py
  python/flight-fusion/flight_fusion/cli/_utils.py
  python/flight-fusion/flight_fusion/cli/environment.py
  python/flight-fusion/flight_fusion/cli/start.py
  python/flight-fusion/flight_fusion/clients/_base.py
  python/flight-fusion/flight_fusion/clients/events/auth.py
  python/mlflow-fusion/mlflow_fusion/auth.py
  python/mlserver-fusion/mlserver_fusion/repository.py
  python/mlserver-fusion/pyproject.toml
  rust/area-store/Cargo.toml
  rust/flight-fusion/src/service.rs
Due: pyright, rustfmt

some docs
  docs/advanced_tutorial.md
Due: none

python updates
  docs/advanced_tutorial.md
  docs/testing.md
  examples/app/src/app/pages/01_datasets.py
  examples/model-training/model_training/assets/__init__.py
  examples/model-training/model_training/assets/data.py
  examples/model-training/model_training/assets/training_data.py
  examples/model-training/model_training/jobs.py
  examples/model-training/model_training/repo.py
  examples/model-training/pyproject.toml
  examples/model-training/tests/data/taxi/2015-01.parquet
  examples/model-training/tests/test_data_assets.py
  mkdocs.yml
  poetry.lock
  pyproject.toml
  python/dagster-fusion/dagster_fusion/config.py
  python/dagster-fusion/dagster_fusion/io/artifact.py
  python/dagster-fusion/dagster_fusion/io/table.py
  python/dagster-fusion/dagster_fusion/resources/fusion.py
  python/dagster-fusion/dagster_fusion/version.py
  python/dagster-fusion/tests/test_io_manager_table.py
  python/dagster-fusion/tests/test_mlflow_integration.py
  python/flight-fusion/flight_fusion/cli/start.py
  python/flight-fusion/flight_fusion/clients/_base.py
  python/flight-fusion/flight_fusion/clients/data/_dataset.py
  python/flight-fusion/flight_fusion/clients/data/versioned.py
  python/flight-fusion/flight_fusion/clients/service.py
  python/flight-fusion/flight_fusion/version.py
  python/mlflow-fusion/mlflow_fusion/artifacts.py
  python/mlflow-fusion/mlflow_fusion/client.py
  python/mlflow-fusion/tests/test_artifact_repository.py
  python/mlflow-fusion/tests/test_artifact_storage.py
  python/mlserver-fusion/mlserver_fusion/repository.py
  typings/pyarrow/__init__.pyi
Due: pyright

bump arrow deps
  Cargo.lock
  rust/arrow-deps/Cargo.toml
  rust/flight-fusion/src/handlers/delta.rs
  rust/flight-fusion/src/service.rs
  rust/fusion-planner/Cargo.toml
Due: rustfmt

feat: more partition datatypes
  docs/advanced_tutorial.md
  examples/model-training/tests/test_data_assets.py
  rust/flight-fusion/src/error.rs
  rust/flight-fusion/src/handlers/delta.rs
  rust/flight-fusion/src/service.rs
Due: pyright, rustfmt

feat: azure token validation
  Cargo.lock
  README.md
  rust/azure-jwt-auth/Cargo.toml
  rust/azure-jwt-auth/src/error.rs
  rust/azure-jwt-auth/src/lib.rs
Due: rustfmt

chore: update arrow dependencies
  Cargo.lock
  rust/area-store/src/store/mod.rs
  rust/area-store/src/store/writer.rs
  rust/arrow-deps/Cargo.toml
  rust/flight-fusion-ipc/Cargo.toml
  rust/flight-fusion/Cargo.toml
  rust/flight-fusion/src/handlers/delta.rs
  rust/flight-fusion/src/lib.rs
  rust/flight-fusion/src/main.rs
  rust/flight-fusion/src/service.rs
  rust/flight-fusion/src/stream.rs
  rust/fusion-planner/Cargo.toml
  rust/fusion-planner/src/query_tree.rs
Due: rustfmt

chore: python dependencies
  examples/app/pyproject.toml
  poetry.lock
Due: none

chore: cleanup
  Cargo.lock
  rust/area-store/src/store/writer.rs
  rust/grpc-router/Cargo.toml
  rust/grpc-router/src/lib.rs
Due: rustfmt

chore: update dependencies
  Cargo.lock
  examples/model-training/model_training/assets/data.py
  examples/model-training/pyproject.toml
  notebooks/client.ipynb
  notebooks/kusto.ipynb
  notebooks/taxi.ipynb
  poetry.lock
  pyproject.toml
  python/dagster-fusion/dagster_fusion/io/artifact.py
Due: pyright

chore: update to latest mlserver
  justfile
  python/mlserver-fusion/mlserver_fusion/server.py
Due: pyright, just

chore: create helm scaffolds
  docker/mlflow.Dockerfile
  docker/mlserver.Dockerfile
  k8s/README.md
  k8s/mlflow/files/ssh-keygen.sh
  k8s/mlflow/values.yaml
  k8s/mlfusion/.helmignore
  k8s/mlfusion/Chart.yaml
  k8s/mlfusion/templates/NOTES.txt
  k8s/mlfusion/templates/_helpers.tpl
  k8s/mlfusion/templates/deployment.yaml
  k8s/mlfusion/templates/hpa.yaml
  k8s/mlfusion/templates/ingress.yaml
  k8s/mlfusion/templates/service.yaml
  k8s/mlfusion/templates/serviceaccount.yaml
  k8s/mlfusion/templates/tests/test-connection.yaml
  k8s/mlfusion/values.yaml
  k8s/mlserver/.helmignore
  k8s/mlserver/Chart.yaml
  k8s/mlserver/templates/NOTES.txt
  k8s/mlserver/templates/_helpers.tpl
  k8s/mlserver/templates/deployment.yaml
  k8s/mlserver/templates/hpa.yaml
  k8s/mlserver/templates/ingress.yaml
  k8s/mlserver/templates/service.yaml
  k8s/mlserver/templates/serviceaccount.yaml
  k8s/mlserver/templates/tests/test-connection.yaml
  k8s/mlserver/values.yaml
Due: none

repo cleanup
  .pre-commit-config.yaml
  config/Default.toml
  justfile
  poetry.lock
  pyproject.toml
  python/mlserver-fusion/mlserver_fusion/repository.py
Due: pyright, just

proto message updates
  proto/flight_fusion/flight_fusion/ipc/v1alpha1/flight.proto
  proto/flight_fusion/flight_fusion/ipc/v1alpha1/message.proto
  proto/flight_fusion/flight_fusion/ipc/v1alpha1/metadata.proto
  proto/flight_fusion/flight_fusion/ipc/v1alpha1/signals.proto
  python/flight-fusion/flight_fusion/ipc/v1alpha1/__init__.py
  python/mlserver-fusion/mlserver_fusion/repository.py
  rust/flight-fusion-ipc/src/gen/flight_fusion.ipc.v1alpha1.rs
  rust/flight-fusion-ipc/src/lib.rs
  rust/flight-fusion/src/handlers/actions.rs
  rust/flight-fusion/src/service.rs
Due: pyright, rustfmt

start fixing delta load
  rust/area-store/src/store/basic.rs
  rust/area-store/src/store/cache.rs
  rust/area-store/src/store/mod.rs
  rust/flight-fusion/src/service.rs
Due: rustfmt

Explore (#272)
  .pre-commit-config.yaml
  config/Default.toml
  justfile
  poetry.lock
  proto/flight_fusion/flight_fusion/ipc/v1alpha1/flight.proto
  proto/flight_fusion/flight_fusion/ipc/v1alpha1/message.proto
  proto/flight_fusion/flight_fusion/ipc/v1alpha1/metadata.proto
  proto/flight_fusion/flight_fusion/ipc/v1alpha1/signals.proto
  pyproject.toml
  python/flight-fusion/flight_fusion/ipc/v1alpha1/__init__.py
  rust/area-store/src/store/basic.rs
  rust/area-store/src/store/cache.rs
  rust/area-store/src/store/mod.rs
  rust/flight-fusion-ipc/src/gen/flight_fusion.ipc.v1alpha1.rs
  rust/flight-fusion-ipc/src/lib.rs
  rust/flight-fusion/src/handlers/actions.rs
  rust/flight-fusion/src/service.rs
Due: pyright, just, rustfmt

more helm updates
  k8s/mlflow/templates/job.yaml
  k8s/mlflow/templates/mlflow-env.yaml
  k8s/mlfusion/templates/deployment.yaml
  k8s/mlfusion/templates/hpa.yaml
  k8s/mlfusion/templates/mlflow-env.yaml
Due: none

compose profile
  compose.yml
  docker/mlflow.Dockerfile
  examples/hacker-news/pyproject.toml
  justfile
  poetry.lock
Due: just

test io manager
  Cargo.lock
  justfile
  python/dagster-fusion/dagster_fusion/hooks.py
  python/dagster-fusion/dagster_fusion/io/table.py
  python/dagster-fusion/tests/test_io_manager_model.py
  python/dagster-fusion/tests/test_io_manager_table.py
  python/dagster-fusion/tests/test_mlflow_integration.py
  rust/flight-fusion/Cargo.toml
Due: pyright, just
