Repository roeap/flight-fusion: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, just, rustfmt

.pre-commit-config.yaml:

# To use this, install the python package `pre-commit` and
# run once `pre-commit install`. This will setup a git pre-commit-hook
# that is executed on each commit and will report the linting problems.
# To run all hooks on all files use `pre-commit run -a`

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace

  - repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
      - id: isort
    args: ["--profile=black"]
  - repo: https://github.com/pycqa/flake8
    rev: 4.0.1
    hooks:
      - id: flake8
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        args:
          - "--line-length=120"
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.2
    hooks:
      - id: prettier
    types_or:
      - json
      - toml
      - yaml
      - markdown
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.32.1
    hooks:
      - id: pyupgrade
        exclude: setup.py
        entry: pyupgrade --py38-plus
        types:
          - python

  - repo: local
    hooks:
      - id: pyright
        name: pyright
        entry: pyright
        args: ["python/"]
        language: node
        pass_filenames: false
        types: [python]
        additional_dependencies: ["pyright@1.1.210"]
      - id: just
        name: just
        language: system
        entry: just --fmt --unstable --check
        files: ^justfile$
        pass_filenames: false
        types:
          - file
      - id: rustfmt
        name: Rust Format
        language: system
        entry: bash -c "cargo +stable fmt --all -- --check"
        files: ^.*\.rs$
        types:
          - file
          - rust

ci: ignore generated code in clippy
  .github/workflows/rust.yml
  rust/artifact-store/src/lib.rs
  rust/flight-fusion-ipc/src/lib.rs
Due: rustfmt

ci: python build
  .github/workflows/python.yml
  .vscode/cspell.json
Due: none

disable pyright for now
  .github/workflows/python.yml
Due: none

ci: docker build
  .github/workflows/rust.yml
  Cargo.docker.toml
  docker/fusion.Dockerfile
Due: none

feat: scaffold object sotre
  Cargo.lock
  Cargo.toml
  justfile
  poetry.lock
  python/fusion-object-store/.gitignore
  python/fusion-object-store/Cargo.toml
  python/fusion-object-store/README.md
  python/fusion-object-store/object_store/__init__.py
  python/fusion-object-store/object_store/_internal.pyi
  python/fusion-object-store/object_store/py.typed
  python/fusion-object-store/pyproject.toml
  python/fusion-object-store/src/lib.rs
Due: pyright, just, rustfmt

feat: add more list methods
  Cargo.lock
  python/fusion-object-store/Cargo.toml
  python/fusion-object-store/object_store/__init__.py
  python/fusion-object-store/object_store/_internal.pyi
  python/fusion-object-store/pyproject.toml
  python/fusion-object-store/src/lib.rs
  python/fusion-object-store/tests/test_object_store.py
  rust/arrow-deps/Cargo.toml
Due: pyright, rustfmt

feat: add basic object store methods
  notebooks/client.ipynb
  notebooks/taxi.ipynb
  poetry.lock
  python/fusion-object-store/object_store/__init__.py
  python/fusion-object-store/object_store/_internal.pyi
  python/fusion-object-store/src/lib.rs
  python/fusion-object-store/tests/test_object_store.py
Due: pyright, rustfmt

chore: clean dependencies
  Cargo.lock
  notebooks/taxi.ipynb
  python/fusion-object-store/Cargo.toml
Due: none

object_store backed object store (#299)
  Cargo.lock
  Cargo.toml
  justfile
  notebooks/client.ipynb
  notebooks/taxi.ipynb
  poetry.lock
  python/fusion-object-store/.gitignore
  python/fusion-object-store/Cargo.toml
  python/fusion-object-store/README.md
  python/fusion-object-store/object_store/__init__.py
  python/fusion-object-store/object_store/_internal.pyi
  python/fusion-object-store/object_store/py.typed
  python/fusion-object-store/pyproject.toml
  python/fusion-object-store/src/lib.rs
  python/fusion-object-store/tests/test_object_store.py
  rust/arrow-deps/Cargo.toml
Due: pyright, just, rustfmt

chore: repo refresh
  .bandit
  .flake8
  .vscode/settings.json
  Cargo.lock
  Cargo.toml
  poetry.lock
  poetry.toml
  pyproject.toml
  python/dagster-fusion/pyproject.toml
  python/flight-fusion/pyproject.toml
  python/fusion-object-store/.gitignore
  python/fusion-object-store/Cargo.toml
  python/fusion-object-store/README.md
  python/fusion-object-store/object_store/__init__.py
  python/fusion-object-store/object_store/_internal.pyi
  python/fusion-object-store/object_store/py.typed
  python/fusion-object-store/pyproject.toml
  python/fusion-object-store/src/lib.rs
  python/fusion-object-store/tests/test_object_store.py
  python/mlflow-fusion/pyproject.toml
  python/mlserver-fusion/pyproject.toml
Due: pyright, rustfmt

build: update pre-commit hooks
  .pre-commit-config.yaml
Due: none

chore: remove inference protos
  proto/inference/buf.md
  proto/inference/buf.yaml
  proto/inference/inference/dataplane.proto
  proto/inference/inference/model_repository.proto
Due: none

chore: remove mnlfow proto files
  proto/mlflow/buf.lock
  proto/mlflow/buf.md
  proto/mlflow/buf.yaml
  proto/mlflow/mlflow/databricks.proto
  proto/mlflow/mlflow/databricks_artifacts.proto
  proto/mlflow/mlflow/mlflow_artifacts.proto
  proto/mlflow/mlflow/model_registry.proto
  proto/mlflow/mlflow/service.proto
Due: none

build(deps): update python dependencies
  Cargo.lock
  poetry.lock
  pyproject.toml
  python/mlserver-fusion/pyproject.toml
Due: none

build(deps): update datafusion and friends
  Cargo.lock
  rust/area-store/Cargo.toml
  rust/area-store/src/store/mod.rs
  rust/arrow-deps/Cargo.toml
  rust/artifact-store/Cargo.toml
  rust/artifact-store/src/lib.rs
  rust/azure-jwt-auth/Cargo.toml
  rust/file-cache/src/disk_cache.rs
  rust/flight-fusion-ipc/Cargo.toml
  rust/flight-fusion/Cargo.toml
  rust/flight-fusion/src/error.rs
  rust/flight-fusion/src/handlers/delta.rs
  rust/flight-fusion/src/main.rs
  rust/flight-fusion/src/settings.rs
  rust/fusion-planner/Cargo.toml
  rust/fusion-planner/src/query_tree.rs
  rust/observability-deps/Cargo.toml
Due: rustfmt
