Repository roeap/flight-fusion: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, just, rustfmt

pyright:
  name: pyright
  entry: pyright
  args:
  - python/
  language: node
  pass_filenames: false
  additional_dependencies:
  - pyright@1.1.210

just:
  name: just
  language: system
  entry: just --fmt --unstable --check
  pass_filenames: false

rustfmt:
  name: Rust Format
  language: system
  entry: bash -c "cargo +stable fmt --all -- --check"

precommits
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .pre-commit-config.yaml
  examples/hacker-news/hacker_news/assets/__init__.py
  poetry.lock
  pyproject.toml
  python/dagster-fusion/dagster_fusion/io/io_manager.py
  python/dagster-fusion/dagster_fusion/io/root_input_manager.py
  python/flight-fusion/flight_fusion/asset_key.py
  python/flight-fusion/flight_fusion/clients/data/_dataset.py
  python/flight-fusion/flight_fusion/clients/data/context.py
  python/flight-fusion/flight_fusion/clients/models/aio.py
  python/flight-fusion/flight_fusion/clients/service.py
  scripts/generate-openmeta-types.js
  test/transactions/list_collections/0_request.json
  test/transactions/list_collections/0_response.json
  typescript/vscode-fusion/.eslintrc.json
  typescript/vscode-fusion/.vscode/launch.json
  typescript/vscode-fusion/.vscode/settings.json
  typescript/vscode-fusion/.vscode/tasks.json
  typescript/vscode-fusion/README.md
  typescript/vscode-fusion/src/clients/index.ts
  typescript/vscode-fusion/src/test/runTest.ts
  typescript/vscode-fusion/src/test/suite/extension.test.ts
  typescript/vscode-fusion/src/test/suite/index.ts
  typescript/vscode-fusion/src/trees/index.ts
  typescript/vscode-fusion/tsconfig.json
  typescript/vscode-fusion/vsc-extension-quickstart.md
  typescript/vscode-fusion/webpack.config.js
Due: pyright

precommit cleanup
  .pre-commit-config.yaml
Due: none

move ui
  typescript/vscode-fusion/.eslintrc.json
  typescript/vscode-fusion/.gitignore
  typescript/vscode-fusion/.vscode/extensions.json
  typescript/vscode-fusion/.vscode/launch.json
  typescript/vscode-fusion/.vscode/settings.json
  typescript/vscode-fusion/.vscode/tasks.json
  typescript/vscode-fusion/.vscodeignore
  typescript/vscode-fusion/.yarnrc
  typescript/vscode-fusion/CHANGELOG.md
  typescript/vscode-fusion/README.md
  typescript/vscode-fusion/assets/arrow.svg
  typescript/vscode-fusion/package.json
  typescript/vscode-fusion/src/clients/fusion.ts
  typescript/vscode-fusion/src/clients/index.ts
  typescript/vscode-fusion/src/clients/models.ts
  typescript/vscode-fusion/src/extension.ts
  typescript/vscode-fusion/src/generated/flight_fusion/ipc/v1alpha1/common.ts
  typescript/vscode-fusion/src/generated/flight_fusion/ipc/v1alpha1/delta.ts
  typescript/vscode-fusion/src/generated/flight_fusion/ipc/v1alpha1/flight.ts
  typescript/vscode-fusion/src/generated/flight_fusion/ipc/v1alpha1/message.ts
  typescript/vscode-fusion/src/generated/flight_fusion/ipc/v1alpha1/signals.ts
  typescript/vscode-fusion/src/generated/google/protobuf/descriptor.ts
  typescript/vscode-fusion/src/generated/inference/dataplane.ts
  typescript/vscode-fusion/src/generated/inference/model_repository.ts
  typescript/vscode-fusion/src/test/runTest.ts
  typescript/vscode-fusion/src/test/suite/extension.test.ts
  typescript/vscode-fusion/src/test/suite/index.ts
  typescript/vscode-fusion/src/trees/index.ts
  typescript/vscode-fusion/src/trees/models.ts
  typescript/vscode-fusion/tsconfig.json
  typescript/vscode-fusion/vsc-extension-quickstart.md
  typescript/vscode-fusion/webpack.config.js
Due: none

cleanup
  Makefile
  justfile
  rust/area-store/src/store/basic.rs
  rust/area-store/src/store/mod.rs
  rust/area-store/src/store/writer.rs
  rust/flight-fusion/src/service.rs
  scripts/generate-openmeta-types.js
Due: just, rustfmt

stream results
  .prettierignore
  rust/flight-fusion/src/service.rs
  rust/flight-fusion/src/stream.rs
Due: rustfmt

remove comment
  rust/area-store/src/store/basic.rs
Due: rustfmt

end to end streaming
  rust/flight-fusion/src/handlers/delta.rs
  rust/flight-fusion/src/handlers/do_get.rs
  rust/flight-fusion/src/handlers/do_put.rs
  rust/flight-fusion/src/handlers/mod.rs
  rust/flight-fusion/src/service.rs
  rust/flight-fusion/src/stream.rs
  rust/flight-fusion/src/test_utils.rs
Due: rustfmt

dependency bump
  Cargo.lock
  rust/arrow-deps/Cargo.toml
  rust/flight-fusion/src/stream.rs
Due: rustfmt

end to end streaming (#199)
  .prettierignore
  Cargo.lock
  Makefile
  justfile
  rust/area-store/src/store/basic.rs
  rust/area-store/src/store/mod.rs
  rust/area-store/src/store/writer.rs
  rust/arrow-deps/Cargo.toml
  rust/flight-fusion/src/handlers/delta.rs
  rust/flight-fusion/src/handlers/do_get.rs
  rust/flight-fusion/src/handlers/do_put.rs
  rust/flight-fusion/src/handlers/mod.rs
  rust/flight-fusion/src/service.rs
  rust/flight-fusion/src/stream.rs
  rust/flight-fusion/src/test_utils.rs
  scripts/generate-openmeta-types.js
Due: just, rustfmt

use buf for rust
  buf.gen.yaml
  codecov.yml
  justfile
  rust/flight-fusion-ipc/build.rs
  rust/flight-fusion-ipc/src/flight_fusion.ipc.v1alpha1.rs
  rust/flight-fusion-ipc/src/gen/flight_fusion.ipc.v1alpha1.rs
  rust/flight-fusion-ipc/src/lib.rs
Due: just, rustfmt

isort
  .pre-commit-config.yaml
  notebooks/client.ipynb
  typings/pyarrow/__init__.pyi
  typings/pyarrow/lib.pyi
Due: none

add column names
  examples/app/src/app/index.py
  examples/hacker-news/hacker_news/assets/id_range_for_time.py
  examples/hacker-news/hacker_news/assets/items.py
  examples/hacker-news/hacker_news/assets/recommender_model.py
  examples/hacker-news/hacker_news/jobs/api_download.py
  examples/model-training/model_training/assets/__init__.py
  examples/model-training/model_training/jobs.py
  proto/flight_fusion/flight_fusion/ipc/v1alpha1/message.proto
  python/dagster-fusion/tests/test_io_manager.py
  python/flight-fusion/flight_fusion/ipc/v1alpha1/__init__.py
  rust/flight-fusion-ipc/src/gen/flight_fusion.ipc.v1alpha1.rs
  rust/flight-fusion/src/handlers/do_get.rs
Due: pyright, rustfmt

store state
  proto/flight_fusion/flight_fusion/ipc/v1alpha1/delta.proto
  python/flight-fusion/flight_fusion/ipc/v1alpha1/__init__.py
  rust/area-store/src/store/basic.rs
  rust/area-store/src/store/mod.rs
  rust/flight-fusion-ipc/src/gen/flight_fusion.ipc.v1alpha1.rs
  rust/flight-fusion/src/handlers/delta.rs
  rust/flight-fusion/src/handlers/do_get.rs
Due: pyright, rustfmt

use antd components
  examples/app/pyproject.toml
  examples/app/src/app/__init__.py
  examples/app/src/app/__main__.py
  examples/app/src/app/index.py
  examples/app/src/app/plugin/__init__.py
  examples/app/src/app/plugin/multi_page.py
  justfile
  poetry.lock
Due: pyright, just

move cspell
  .gitignore
  .vscode/cspell.json
  cspell.config.yaml
Due: none

app styling
  .vscode/cspell.json
  examples/app/src/app/__init__.py
  examples/app/src/app/__main__.py
  examples/app/src/app/pages/01_datasets.py
  examples/app/src/app/plugin/multi_page.py
Due: pyright

update object_store crate
  Cargo.lock
  rust/area-store/Cargo.toml
  rust/area-store/src/lib.rs
  rust/area-store/src/projection.rs
  rust/area-store/src/store/basic.rs
  rust/area-store/src/store/cache.rs
  rust/area-store/src/store/mod.rs
  rust/area-store/src/store/utils.rs
  rust/area-store/src/store/writer.rs
  rust/area-store/src/test_utils.rs
  rust/flight-fusion/src/handlers/delta.rs
Due: rustfmt

basic projections
  rust/area-store/src/projection.rs
  rust/flight-fusion/src/handlers/delta.rs
Due: rustfmt

column select in py clients
  notebooks/client.ipynb
  python/flight-fusion/flight_fusion/clients/data/_dataset.py
  python/flight-fusion/flight_fusion/clients/data/dataset.py
  python/flight-fusion/flight_fusion/clients/data/versioned.py
  rust/flight-fusion/src/handlers/delta.rs
Due: pyright, rustfmt

fix column select
  notebooks/client.ipynb
  rust/flight-fusion/src/handlers/delta.rs
  rust/flight-fusion/src/handlers/do_get.rs
Due: rustfmt

bump py dependencies
  poetry.lock
Due: none

make proto delta version i64
  examples/app/src/app/__init__.py
  examples/app/src/app/plugin/multi_page.py
  proto/flight_fusion/flight_fusion/ipc/v1alpha1/delta.proto
  python/flight-fusion/flight_fusion/clients/data/_dataset.py
  python/flight-fusion/flight_fusion/ipc/v1alpha1/__init__.py
  rust/flight-fusion-ipc/src/gen/flight_fusion.ipc.v1alpha1.rs
Due: pyright, rustfmt

py version load
  proto/flight_fusion/flight_fusion/ipc/v1alpha1/delta.proto
  python/flight-fusion/flight_fusion/clients/data/versioned.py
  python/flight-fusion/flight_fusion/ipc/v1alpha1/__init__.py
  rust/flight-fusion-ipc/src/gen/flight_fusion.ipc.v1alpha1.rs
Due: pyright, rustfmt

column select in io manager
  python/dagster-fusion/dagster_fusion/io/io_manager.py
  python/dagster-fusion/tests/test_io_manager.py
  python/flight-fusion/flight_fusion/testing.py
Due: pyright

proto cleanup
  proto/flight_fusion/flight_fusion/ipc/v1alpha1/flight.proto
  proto/flight_fusion/flight_fusion/ipc/v1alpha1/message.proto
  python/flight-fusion/flight_fusion/ipc/v1alpha1/__init__.py
  rust/flight-fusion-ipc/src/gen/flight_fusion.ipc.v1alpha1.rs
  rust/flight-fusion/src/handlers/do_get.rs
Due: pyright, rustfmt

restructure handlers
  rust/flight-fusion/src/handlers/dataset.rs
  rust/flight-fusion/src/handlers/do_put.rs
  rust/flight-fusion/src/handlers/mod.rs
  rust/flight-fusion/src/handlers/query.rs
  rust/flight-fusion/src/service.rs
Due: rustfmt

add python tests
  python/flight-fusion/tests/test_dataset_client.py
  python/flight-fusion/tests/test_versioned_client.py
  rust/flight-fusion/src/handlers/query.rs
Due: pyright, rustfmt

client updates (#208)
  examples/app/src/app/__init__.py
  examples/app/src/app/plugin/multi_page.py
  poetry.lock
  proto/flight_fusion/flight_fusion/ipc/v1alpha1/delta.proto
  proto/flight_fusion/flight_fusion/ipc/v1alpha1/flight.proto
  proto/flight_fusion/flight_fusion/ipc/v1alpha1/message.proto
  python/dagster-fusion/dagster_fusion/io/io_manager.py
  python/dagster-fusion/tests/test_io_manager.py
  python/flight-fusion/flight_fusion/clients/data/_dataset.py
  python/flight-fusion/flight_fusion/clients/data/versioned.py
  python/flight-fusion/flight_fusion/ipc/v1alpha1/__init__.py
  python/flight-fusion/flight_fusion/testing.py
  python/flight-fusion/tests/test_dataset_client.py
  python/flight-fusion/tests/test_versioned_client.py
  rust/flight-fusion-ipc/src/gen/flight_fusion.ipc.v1alpha1.rs
  rust/flight-fusion/src/handlers/dataset.rs
  rust/flight-fusion/src/handlers/do_put.rs
  rust/flight-fusion/src/handlers/mod.rs
  rust/flight-fusion/src/handlers/query.rs
  rust/flight-fusion/src/service.rs
Due: pyright, rustfmt

bump httpx
  poetry.lock
  python/mlserver-fusion/pyproject.toml
Due: none

basic listing
  rust/area-store/src/store/area_path.rs
  rust/area-store/src/store/file_index.rs
  rust/area-store/src/store/mod.rs
  rust/flight-fusion/src/service.rs
Due: rustfmt

flight responses
  notebooks/client.ipynb
  python/flight-fusion/flight_fusion/clients/service.py
  rust/flight-fusion/src/service.rs
Due: pyright, rustfmt

asset key
  notebooks/client.ipynb
  python/flight-fusion/flight_fusion/clients/service.py
Due: pyright

simplify messages
  Cargo.lock
  proto/flight_fusion/flight_fusion/ipc/v1alpha1/flight.proto
  python/flight-fusion/flight_fusion/clients/data/_dataset.py
  python/flight-fusion/flight_fusion/ipc/v1alpha1/__init__.py
  rust/flight-fusion-ipc/Cargo.toml
  rust/flight-fusion-ipc/src/gen/flight_fusion.ipc.v1alpha1.rs
  rust/flight-fusion-ipc/src/lib.rs
  rust/flight-fusion/src/service.rs
Due: pyright, rustfmt

simplify
  rust/flight-fusion-ipc/src/lib.rs
  rust/flight-fusion/src/service.rs
Due: rustfmt

better errors
  notebooks/client.ipynb
  rust/flight-fusion/src/service.rs
Due: rustfmt

test flight info
  rust/flight-fusion/src/service.rs
Due: rustfmt

test get schema
  rust/flight-fusion/src/service.rs
Due: rustfmt

hello plotting
  examples/app/src/app/context.py
  examples/app/src/app/pages/01_datasets.py
Due: pyright

Path conditions:
  pyright: any of: \.py$
  just: any of: ^justfile$
  rustfmt: any of: ^.*\.rs$ and \.rs$
