Repository roeap/flight-fusion: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, just, rustfmt

pyright:
  name: pyright
  entry: pyright
  args:
  - python/
  language: node
  pass_filenames: false
  additional_dependencies:
  - pyright@1.1.210

just:
  name: just
  language: system
  entry: just --fmt --unstable --check
  pass_filenames: false

rustfmt:
  name: Rust Format
  language: system
  entry: bash -c "cargo +stable fmt --all -- --check"

initialize pydantic schema
  .vscode/cspell.json
  k8s/schema/mlfusion_helm/charts/__init__.py
  k8s/schema/mlfusion_helm/charts/mlflow/__init__.py
  k8s/schema/mlfusion_helm/charts/mlfusion/__init__.py
  k8s/schema/mlfusion_helm/charts/mlfusion/subschema/__init__.py
  k8s/schema/mlfusion_helm/charts/mlfusion/subschema/global_.py
  k8s/schema/mlfusion_helm/charts/mlfusion/subschema/ingress.py
  k8s/schema/mlfusion_helm/charts/mlfusion/subschema/service_account.py
  k8s/schema/mlfusion_helm/charts/mlfusion/values.py
  k8s/schema/mlfusion_helm/cli.py
  k8s/schema/mlfusion_helm/utils/__init__.py
  k8s/schema/mlfusion_helm/utils/k8s.py
  k8s/schema/mlfusion_helm/utils/utils.py
  k8s/schema/pyproject.toml
  poetry.lock
  pyproject.toml
  python/dagster-fusion/pyproject.toml
Due: pyright

mlflow helm schema
  .vscode/cspell.json
  justfile
  k8s/mlflow/templates/minikube.yaml
  k8s/mlflow/templates/mlflow.yaml
  k8s/schema/mlfusion_helm/charts/__init__.py
  k8s/schema/mlfusion_helm/charts/mlflow/__init__.py
  k8s/schema/mlfusion_helm/charts/mlflow/subschema/__init__.py
  k8s/schema/mlfusion_helm/charts/mlflow/subschema/global_.py
  k8s/schema/mlfusion_helm/charts/mlflow/subschema/service_account.py
  k8s/schema/mlfusion_helm/charts/mlflow/values.py
  k8s/schema/mlfusion_helm/charts/mlfusion/values.py
  k8s/schema/mlfusion_helm/cli.py
  poetry.lock
Due: pyright, just

move global to global
  k8s/schema/mlfusion_helm/charts/flight_fusion/__init__.py
  k8s/schema/mlfusion_helm/charts/flight_fusion/subschema/__init__.py
  k8s/schema/mlfusion_helm/charts/flight_fusion/values.py
  k8s/schema/mlfusion_helm/charts/global_.py
  k8s/schema/mlfusion_helm/charts/mlflow/subschema/__init__.py
  k8s/schema/mlfusion_helm/charts/mlflow/values.py
  k8s/schema/mlfusion_helm/charts/mlfusion/subschema/__init__.py
  k8s/schema/mlfusion_helm/charts/mlfusion/subschema/global_.py
  k8s/schema/mlfusion_helm/charts/mlfusion/values.py
Due: pyright

extra manifests
  k8s/flight-fusion/values.yaml
  k8s/mlflow/templates/deployment.yaml
  k8s/mlflow/templates/extra-manifests.yaml
  k8s/mlflow/templates/ssh-keygen.yaml
  k8s/mlflow/values.yaml
  k8s/mlfusion/templates/extra-manifests.yaml
  k8s/mlfusion/values.yaml
  k8s/mlserver/templates/extra-manifests.yaml
  k8s/mlserver/values.yaml
Due: none

k8s cleanup
  Cargo.lock
  k8s/mlflow/.helmignore
  k8s/mlflow/Chart.yaml
  k8s/mlflow/templates/deployment.yaml
  k8s/mlflow/values.yaml
  k8s/mlfusion/values.yaml
  k8s/schema/mlfusion_helm/charts/__init__.py
  k8s/schema/mlfusion_helm/charts/flight_fusion/__init__.py
  k8s/schema/mlfusion_helm/charts/flight_fusion/values.py
  k8s/schema/mlfusion_helm/charts/mlflow/values.py
  k8s/schema/mlfusion_helm/charts/mlfusion/values.py
  k8s/schema/mlfusion_helm/utils/__init__.py
Due: pyright

fix pywin32 dependency
  poetry.lock
  python/dagster-fusion/pyproject.toml
Due: none

fix: clippy errors
  rust/area-store/src/store/mod.rs
  rust/area-store/src/store/stats.rs
  rust/fusion-planner/src/query_tree.rs
  rust/fusion-planner/src/test_utils.rs
Due: rustfmt

fusion docker build
  compose.yml
  docker/fusion.Dockerfile
  justfile
Due: just

fixes
  compose.yml
  python/dagster-fusion/dagster_fusion/hooks.py
Due: pyright

chore: update arrow deps
  Cargo.lock
  poetry.lock
  rust/arrow-deps/Cargo.toml
  rust/flight-fusion-ipc/Cargo.toml
Due: none

chore: some more dep bumps
  Cargo.lock
  poetry.lock
  rust/flight-fusion/src/service.rs
Due: rustfmt

housekeeping (#275)
  Cargo.lock
  compose.yml
  docker/fusion.Dockerfile
  justfile
  poetry.lock
  python/dagster-fusion/dagster_fusion/hooks.py
  rust/area-store/src/store/mod.rs
  rust/area-store/src/store/stats.rs
  rust/arrow-deps/Cargo.toml
  rust/flight-fusion-ipc/Cargo.toml
  rust/flight-fusion/src/service.rs
  rust/fusion-planner/src/query_tree.rs
  rust/fusion-planner/src/test_utils.rs
Due: pyright, just, rustfmt

refaactor area store
  rust/area-store/README.md
  rust/area-store/src/lib.rs
  rust/area-store/src/schema.rs
  rust/area-store/src/store/basic.rs
  rust/area-store/src/store/file_index.rs
  rust/area-store/src/store/mod.rs
  rust/flight-fusion/src/handlers/actions.rs
  rust/flight-fusion/src/handlers/dataset.rs
  rust/flight-fusion/src/handlers/delta.rs
  rust/flight-fusion/src/service.rs
  rust/flight-fusion/src/stream.rs
Due: rustfmt

feat: integrate delta with datafusion
  Cargo.lock
  rust/area-store/Cargo.toml
  rust/area-store/src/error.rs
  rust/area-store/src/lib.rs
  rust/area-store/src/schema.rs
  rust/area-store/src/store/area_path.rs
  rust/area-store/src/store/basic.rs
  rust/area-store/src/store/cache.rs
  rust/area-store/src/store/mod.rs
  rust/arrow-deps/Cargo.toml
  rust/flight-fusion/src/handlers/delta.rs
  rust/flight-fusion/src/handlers/query.rs
  rust/flight-fusion/src/service.rs
Due: rustfmt

feat: add uri handling
  Cargo.lock
  README.md
  poetry.lock
  pyproject.toml
  rust/area-store/Cargo.toml
  rust/area-store/src/error.rs
  rust/area-store/src/lib.rs
  rust/area-store/src/storage_location.rs
  rust/area-store/src/storage_url.rs
  rust/area-store/src/store/mod.rs
  rust/flight-fusion/src/handlers/query.rs
Due: rustfmt

chore: remove outdated code
  notebooks/client.ipynb
  rust/area-store/src/store/mod.rs
  rust/flight-fusion/src/handlers/delta.rs
Due: rustfmt

refactor: remove stats
  .vscode/cspell.json
  rust/area-store/src/store/mod.rs
  rust/area-store/src/store/stats.rs
  rust/area-store/src/store/writer.rs
Due: rustfmt

clear notebook
  notebooks/client.ipynb
Due: none

chore: update / cleanup python dependencies
  examples/hacker-news/README.md
  examples/hacker-news/hacker_news/__init__.py
  examples/hacker-news/hacker_news/assets/__init__.py
  examples/hacker-news/hacker_news/assets/comment_stories.py
  examples/hacker-news/hacker_news/assets/id_range_for_time.py
  examples/hacker-news/hacker_news/assets/items.py
  examples/hacker-news/hacker_news/assets/recommender_model.py
  examples/hacker-news/hacker_news/assets/user_story_matrix.py
  examples/hacker-news/hacker_news/jobs/__init__.py
  examples/hacker-news/hacker_news/jobs/api_download.py
  examples/hacker-news/hacker_news/partitions/__init__.py
  examples/hacker-news/hacker_news/repo.py
  examples/hacker-news/hacker_news/resources/__init__.py
  examples/hacker-news/hacker_news/resources/hn_resource.py
  examples/hacker-news/hacker_news/resources/partition_bounds.py
  examples/hacker-news/hacker_news/sensors/__init__.py
  examples/hacker-news/hacker_news/sensors/tables_updated.py
  examples/hacker-news/hacker_news/snapshot.gzip
  examples/hacker-news/pyproject.toml
  poetry.lock
  pyproject.toml
  python/dagster-fusion/pyproject.toml
  python/flight-fusion-server/pyproject.toml
  python/flight-fusion/pyproject.toml
Due: pyright

chore: cleanup storage url
  Cargo.lock
  poetry.lock
  rust/area-store/Cargo.toml
  rust/area-store/src/storage_url.rs
  rust/area-store/src/store/writer.rs
  rust/arrow-deps/src/lib.rs
Due: rustfmt

perf: improved batch writing
  Cargo.lock
  rust/area-store/Cargo.toml
  rust/area-store/src/store/mod.rs
  rust/area-store/src/test_utils.rs
  rust/flight-fusion/src/handlers/dataset.rs
  rust/flight-fusion/src/handlers/query.rs
Due: rustfmt

feat: migrate to table providers
  Cargo.lock
  rust/area-store/src/lib.rs
  rust/area-store/src/projection.rs
  rust/area-store/src/storage_location.rs
  rust/area-store/src/storage_url.rs
  rust/area-store/src/store/cache.rs
  rust/area-store/src/store/mod.rs
  rust/arrow-deps/Cargo.toml
  rust/flight-fusion/Cargo.toml
  rust/flight-fusion/src/error.rs
  rust/flight-fusion/src/handlers/delta.rs
  rust/flight-fusion/src/handlers/query.rs
  rust/flight-fusion/src/service.rs
  test/db/listing/_ff_data/simple/P1.parquet
Due: rustfmt

chore: dependency locks
  Cargo.lock
  poetry.lock
  rust/arrow-deps/Cargo.toml
Due: none

chore: clippy
  Cargo.lock
  rust/area-store/src/storage_url.rs
  rust/area-store/src/store/area_path.rs
  rust/area-store/src/store/mod.rs
  rust/arrow-deps/Cargo.toml
  rust/arrow-deps/src/lib.rs
  rust/flight-fusion/src/handlers/delta.rs
Due: rustfmt

fix: fix listing query
  Cargo.lock
  rust/area-store/src/store/mod.rs
  rust/flight-fusion/Cargo.toml
  rust/flight-fusion/src/handlers/query.rs
Due: rustfmt

chore: remove writer module
  rust/area-store/src/store/mod.rs
  rust/area-store/src/store/writer.rs
Due: rustfmt

fix: list areas
  rust/area-store/src/store/area_path.rs
  rust/area-store/src/store/mod.rs
  rust/flight-fusion/src/service.rs
Due: rustfmt

chore: remove unused test data
  test/data/P1.parquet
  test/data/P2.parquet
Due: none

perf: leverage listing table to table get
  Cargo.lock
  rust/area-store/src/store/mod.rs
  rust/azure-jwt-auth/src/lib.rs
  rust/flight-fusion/Cargo.toml
  rust/flight-fusion/src/handlers/dataset.rs
  rust/flight-fusion/src/stream.rs
Due: rustfmt

refactor(area_store): remove get_location_files
  rust/area-store/src/store/mod.rs
Due: rustfmt

fix: listing url path
  rust/area-store/src/store/mod.rs
Due: rustfmt

fix: remove local test
  rust/area-store/src/storage_url.rs
Due: rustfmt

fix: first round of python tests
  .github/workflows/python.yml
  Cargo.lock
  README.md
  examples/model-training/model_training/jobs.py
  examples/model-training/tests/test_data_assets.py
  poetry.lock
  python/dagster-fusion/dagster_fusion/resources/mlflow.py
  python/dagster-fusion/tests/test_io_manager_model.py
  python/dagster-fusion/tests/test_mlflow_integration.py
  python/flight-fusion/tests/test_dataset_client.py
  python/flight-fusion/tests/test_versioned_client.py
  rust/flight-fusion/src/handlers/dataset.rs
  rust/flight-fusion/src/handlers/delta.rs
  rust/flight-fusion/src/service.rs
  scripts/dagster_example.py
Due: pyright, rustfmt

test: fix mlflow contructor tests
  .vscode/cspell.json
  python/dagster-fusion/tests/test_mlflow_integration.py
Due: pyright

update dependencies
  .github/workflows/dev_pr.yml
  .github/workflows/python.yml
  .github/workflows/python_release.yml
  .github/workflows/rust.yml
  Cargo.lock
  Cargo.toml
  buf.gen.yaml
  poetry.lock
  pyproject.toml
  rust/area-store/Cargo.toml
  rust/area-store/src/error.rs
  rust/area-store/src/store/mod.rs
  rust/arrow-deps/Cargo.toml
  rust/artifact-store/Cargo.toml
  rust/artifact-store/src/gen/mlflow.artifacts.tonic.rs
  rust/flight-fusion-ipc/Cargo.toml
  rust/flight-fusion-ipc/src/gen/flight_fusion.ipc.v1alpha1.rs
  rust/flight-fusion-ipc/src/gen/mlflow.artifacts.rs
  rust/flight-fusion-ipc/src/gen/mlflow.artifacts.tonic.rs
  rust/flight-fusion/Cargo.toml
  rust/flight-fusion/src/handlers/dataset.rs
  rust/flight-fusion/src/handlers/delta.rs
  rust/flight-fusion/src/main.rs
  rust/flight-fusion/src/service.rs
  rust/fusion-planner/Cargo.toml
  rust/fusion-planner/src/query_tree.rs
Due: rustfmt

ci: build scripts
  .github/workflows/rust.yml
  .github/workflows/rust_release.yml
  .gitignore
Due: none

ci: install protoc
  .github/workflows/rust.yml
  .vscode/cspell.json
Due: none

ci: add protoc to PATH
  .github/workflows/rust.yml
Due: none

Path conditions:
  pyright: any of: \.py$
  just: any of: ^justfile$
  rustfmt: any of: ^.*\.rs$ and \.rs$
