Repository roeap/flight-fusion: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, just, rustfmt

pyright:
  name: pyright
  entry: pyright
  args:
  - python/
  language: node
  pass_filenames: false
  additional_dependencies:
  - pyright@1.1.210

just:
  name: just
  language: system
  entry: just --fmt --unstable --check
  pass_filenames: false

rustfmt:
  name: Rust Format
  language: system
  entry: bash -c "cargo +stable fmt --all -- --check"

cleanup
  examples/app/src/app/pages/01_datasets.py
  notebooks/client.ipynb
  poetry.lock
Due: pyright

black settings
  .pre-commit-config.yaml
  .vscode/settings.json
  pyproject.toml
Due: none

black
  examples/app/src/app/context.py
  examples/app/src/app/pages/01_datasets.py
Due: pyright

remove read_file from area store
  rust/area-store/src/error.rs
  rust/area-store/src/store/basic.rs
  rust/area-store/src/store/mod.rs
Due: rustfmt

remove arrow reader from area store
  rust/area-store/src/store/basic.rs
  rust/area-store/src/store/cache.rs
  rust/area-store/src/store/mod.rs
Due: rustfmt

simplify area strore api
  rust/area-store/src/store/basic.rs
  rust/area-store/src/store/cache.rs
  rust/area-store/src/store/mod.rs
  rust/flight-fusion/src/handlers/actions.rs
  rust/flight-fusion/src/handlers/dataset.rs
  rust/flight-fusion/src/service.rs
Due: rustfmt

housekeeping
  Cargo.lock
  rust/flight-fusion/src/handlers/actions.rs
Due: rustfmt

use more AreaPath
  rust/area-store/src/store/area_path.rs
  rust/area-store/src/store/basic.rs
  rust/area-store/src/store/cache.rs
  rust/area-store/src/store/mod.rs
  rust/flight-fusion/src/handlers/dataset.rs
  rust/flight-fusion/src/service.rs
Due: rustfmt

better conversions / clippy
  rust/area-store/src/store/area_path.rs
  rust/area-store/src/store/basic.rs
  rust/area-store/src/store/mod.rs
  rust/flight-fusion-ipc/src/lib.rs
  rust/flight-fusion/src/handlers/dataset.rs
Due: rustfmt

codecov omissions
  codecov.yml
Due: none

more area path
  rust/area-store/src/store/basic.rs
  rust/area-store/src/store/cache.rs
  rust/area-store/src/store/mod.rs
  rust/flight-fusion/src/handlers/dataset.rs
  rust/flight-fusion/src/handlers/delta.rs
Due: rustfmt

remove file stream
  rust/area-store/src/store/mod.rs
Due: rustfmt

area store apis (#214)
  Cargo.lock
  codecov.yml
  rust/area-store/src/error.rs
  rust/area-store/src/store/area_path.rs
  rust/area-store/src/store/basic.rs
  rust/area-store/src/store/cache.rs
  rust/area-store/src/store/mod.rs
  rust/flight-fusion-ipc/src/lib.rs
  rust/flight-fusion/src/handlers/actions.rs
  rust/flight-fusion/src/handlers/dataset.rs
  rust/flight-fusion/src/handlers/delta.rs
  rust/flight-fusion/src/service.rs
Due: rustfmt

check if delta table
  rust/area-store/src/store/basic.rs
  rust/area-store/src/store/mod.rs
Due: rustfmt

read delta schema
  rust/area-store/src/error.rs
  rust/area-store/src/store/basic.rs
  rust/area-store/src/store/mod.rs
  rust/flight-fusion/src/handlers/delta.rs
Due: rustfmt

rm get_batches api
  docs/assets/product.drawio.svg
  rust/area-store/src/store/basic.rs
  rust/area-store/src/store/cache.rs
  rust/area-store/src/store/mod.rs
  rust/flight-fusion/src/service.rs
Due: rustfmt

test fixes
  notebooks/pyspark.ipynb
  rust/area-store/src/store/basic.rs
  rust/flight-fusion/src/service.rs
Due: rustfmt

fix open file test
  rust/area-store/src/store/cache.rs
  rust/flight-fusion/src/service.rs
Due: rustfmt

remove dead code
  rust/area-store/src/store/cache.rs
  rust/area-store/src/store/mod.rs
  rust/area-store/src/store/stats.rs
  rust/area-store/src/store/utils.rs
Due: rustfmt

extract open file
  rust/area-store/src/store/mod.rs
Due: rustfmt

proto
  examples/app/src/app/__init__.py
  examples/app/src/app/pages/01_datasets.py
  examples/hacker-news/hacker_news/assets/__init__.py
  examples/hacker-news/hacker_news/assets/id_range_for_time.py
  examples/hacker-news/hacker_news/assets/items.py
  examples/hacker-news/hacker_news/assets/recommender_model.py
  examples/hacker-news/hacker_news/jobs/api_download.py
  examples/hacker-news/hacker_news/resources/__init__.py
  examples/model-training/model_training/assets/__init__.py
  examples/model-training/model_training/jobs.py
  examples/model-training/model_training/resources/__init__.py
  proto/flight_fusion/flight_fusion/ipc/v1alpha1/flight.proto
  python/dagster-fusion/dagster_fusion/config.py
  python/dagster-fusion/dagster_fusion/io/io_manager.py
  python/dagster-fusion/dagster_fusion/io/root_input_manager.py
  python/dagster-fusion/dagster_fusion/resources/__init__.py
  python/dagster-fusion/tests/test_io_manager.py
  python/flight-fusion/flight_fusion/cli/server.py
  python/flight-fusion/flight_fusion/ipc/inference/__init__.py
  python/flight-fusion/flight_fusion/ipc/mlflow/__init__.py
  python/flight-fusion/flight_fusion/ipc/v1alpha1/__init__.py
  python/mlserver-fusion/mlserver_fusion/server.py
  rust/flight-fusion-ipc/src/gen/flight_fusion.ipc.v1alpha1.rs
  rust/flight-fusion/src/service.rs
  scripts/dagster_example.py
Due: pyright, rustfmt

isort
  .flake8
  examples/app/src/app/__init__.py
  examples/hacker-news/hacker_news/assets/__init__.py
  examples/hacker-news/hacker_news/assets/id_range_for_time.py
  examples/hacker-news/hacker_news/assets/items.py
  examples/hacker-news/hacker_news/assets/recommender_model.py
  examples/hacker-news/hacker_news/jobs/api_download.py
  examples/hacker-news/hacker_news/resources/__init__.py
  examples/model-training/model_training/assets/__init__.py
  examples/model-training/model_training/jobs.py
  examples/model-training/model_training/resources/__init__.py
  python/dagster-fusion/dagster_fusion/config.py
  python/dagster-fusion/dagster_fusion/io/io_manager.py
  python/dagster-fusion/dagster_fusion/io/root_input_manager.py
  python/dagster-fusion/dagster_fusion/resources/__init__.py
  python/dagster-fusion/tests/test_io_manager.py
  python/flight-fusion/flight_fusion/cli/server.py
  python/mlserver-fusion/mlserver_fusion/server.py
  scripts/dagster_example.py
Due: pyright

essage cleanup
  .pre-commit-config.yaml
  justfile
  proto/flight_fusion/flight_fusion/ipc/v1alpha1/common.proto
  python/flight-fusion/flight_fusion/ipc/inference/__init__.py
  python/flight-fusion/flight_fusion/ipc/v1alpha1/__init__.py
  rust/flight-fusion-ipc/src/gen/flight_fusion.ipc.v1alpha1.rs
Due: pyright, just, rustfmt

message cleanup
  proto/flight_fusion/flight_fusion/ipc/v1alpha1/common.proto
  python/flight-fusion/flight_fusion/ipc/v1alpha1/__init__.py
  rust/flight-fusion-ipc/src/gen/flight_fusion.ipc.v1alpha1.rs
Due: pyright, rustfmt

more proto
  .vscode/settings.json
  justfile
Due: just

client apis
  notebooks/client.ipynb
  proto/flight_fusion/flight_fusion/ipc/v1alpha1/common.proto
  proto/flight_fusion/flight_fusion/ipc/v1alpha1/message.proto
  python/flight-fusion/flight_fusion/clients/_base.py
  python/flight-fusion/flight_fusion/clients/data/_dataset.py
  python/flight-fusion/flight_fusion/clients/service.py
  python/flight-fusion/flight_fusion/errors.py
  python/flight-fusion/flight_fusion/ipc/v1alpha1/__init__.py
  python/flight-fusion/tests/test_dataset_client.py
  python/flight-fusion/tests/test_versioned_client.py
  rust/area-store/src/error.rs
  rust/area-store/src/store/basic.rs
  rust/area-store/src/store/mod.rs
  rust/flight-fusion-ipc/src/gen/flight_fusion.ipc.v1alpha1.rs
  rust/flight-fusion/src/service.rs
Due: pyright, rustfmt

page controls
  Cargo.lock
  examples/app/src/app/__init__.py
  examples/app/src/app/context.py
  examples/app/src/app/pages/01_datasets.py
  examples/app/src/app/plugin/multi_page.py
  notebooks/client.ipynb
  python/flight-fusion-server/Cargo.toml
  yarn.lock
Due: pyright

cleanup
  examples/app/src/app/pages/01_datasets.py
  package.json
  yarn.lock
Due: pyright

cleanup
  python/flight-fusion/flight_fusion/cache.py
  python/flight-fusion/flight_fusion/clients/_base.py
  python/flight-fusion/flight_fusion/clients/data/_dataset.py
  python/flight-fusion/flight_fusion/clients/service.py
Due: pyright

cleanup
  notebooks/client.ipynb
  rust/flight-fusion/src/service.rs
Due: rustfmt

docs
  docs/assets/fusion.drawio.svg
  docs/explanation/area_store.md
  docs/index.md
Due: none

simplify tests
  rust/flight-fusion/src/service.rs
  rust/flight-fusion/src/test_utils.rs
  test/db/_ff_data/rand/_delta_log/.00000000000000000000.json.crc
  test/db/_ff_data/rand/_delta_log/00000000000000000000.json
  test/db/_ff_data/rand/part=a/.part-00000-6afc90b0-393b-46a4-a497-93197a30fd04.c000.snappy.parquet.crc
  test/db/_ff_data/rand/part=a/part-00000-6afc90b0-393b-46a4-a497-93197a30fd04.c000.snappy.parquet
  test/db/_ff_data/rand/part=b/.part-00000-571a89d4-897f-4183-92ee-4a054ff9e9ef.c000.snappy.parquet.crc
  test/db/_ff_data/rand/part=b/part-00000-571a89d4-897f-4183-92ee-4a054ff9e9ef.c000.snappy.parquet
  test/db/_ff_data/rand/part=c/.part-00000-e705a1df-082c-445a-8822-b4f6fae25765.c000.snappy.parquet.crc
  test/db/_ff_data/rand/part=c/part-00000-e705a1df-082c-445a-8822-b4f6fae25765.c000.snappy.parquet
  test/db/_ff_data/simple/.part-00000-3b23e96c-c274-4c12-805c-766955e71034-c000.snappy.parquet.crc
  test/db/_ff_data/simple/.part-00000-4e33d745-6e05-4dd3-8d32-49936e5966ab-c000.snappy.parquet.crc
  test/db/_ff_data/simple/_delta_log/.00000000000000000000.json.crc
  test/db/_ff_data/simple/_delta_log/.00000000000000000001.json.crc
  test/db/_ff_data/simple/_delta_log/00000000000000000000.json
  test/db/_ff_data/simple/_delta_log/00000000000000000001.json
  test/db/_ff_data/simple/part-00000-3b23e96c-c274-4c12-805c-766955e71034-c000.snappy.parquet
  test/db/_ff_data/simple/part-00000-4e33d745-6e05-4dd3-8d32-49936e5966ab-c000.snappy.parquet
Due: rustfmt

move tests
  rust/file-cache/src/cache/lru.rs
  rust/file-cache/src/disk_cache.rs
  rust/file-cache/tests/disk_cache.rs
  rust/file-cache/tests/lru.rs
Due: rustfmt

docs
  docs/index.md
Due: none

pruning
  compose.yml
  docker/mlflow.Dockerfile
  python/flight-fusion/flight_fusion/cli/server.py
Due: pyright

Path conditions:
  pyright: any of: \.py$
  just: any of: ^justfile$
  rustfmt: any of: ^.*\.rs$ and \.rs$
